<script>
$(document).ready(function () {
  LoadTable();
  //let subcategoryId = '';

 
  $("#datatable").on('click', '.status-btn', function () {
    var rowData = $(this).closest('tr').find('td').map(function () {
        return $(this).text();
    }).get();
    var statusCell = $(this).closest('tr').find('td:eq(5)'); 
    var status = statusCell.text(); 
    var newStatus = status === "Active" ? "Inactive" : "Active";
    statusCell.text(newStatus); 
 
    var icon = newStatus === "Active" ? "fas fa-eye" : "far fa-eye-slash";
    $(this).find('i').removeClass().addClass(icon); 
});
$("#datatable").on('click', 'tr', function(){
        var dataRow = [];
        $(this).closest('tr').find('td').each(function(){
          dataRow.push($(this).text());
        });
        console.log(dataRow)
        SourceBuffer = dataRow[0];

      console.log("subcategory:", subcategoryId)
      

      });
  function LoadTable() {
      console.log("Hit");
      $("#datatable").DataTable({
          destroy: true,
          processing: true,
          serverSide: true,
          paging: false,
          searching: false,
          info: false,
          scrollY: 400,
          scrollCollapse: true,
          serverMethod: "GET",
          ajax: {
              url: "/subcategory/load",
              dataSrc: (json) => { 
                  var finalData = [];
                  var data = json.data;
                  console.log(data);
                  $.each(data, (key, item) => {
                    var statusClass = item.sc_status === "Active" ? "active-status" : "inactive-status";
                      finalData.push({
                          sc_id: item.sc_id,
                          sc_categoryid: item.sc_categoryid,
                          sc_name: item.sc_name,
                          sc_createdBy: item.sc_createdBy,
                          sc_createdDate: new Date(item.sc_createdDate).toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' }).replace(/\//g, '-'),
                          sc_status: `<span class="${statusClass}">${item.sc_status}</span>`,
                          action: `
                              <button class="edit-btn" data-id="${item.sc_id}" data-toggle="modal" data-target="#staticmodalupdate">
                                  <i class="fas fa-edit"></i>
                              </button>
                              <button class="delete-btn" data-id="${item.sc_id}">
                                  <i class="fas fa-trash-alt"></i> 
                              </button>
                              <button class="status-btn" data-id="${item.sc_id}" data-new-status="${item.status === 'Active' ? 'Inactive' : 'Active'}">
                                    <i class="${item.sc_status === 'Active' ? 'fas fa-eye' : 'far fa-eye-slash'}"></i>
                                </button>
                          `,
                      });
                  });
                  return finalData;
              },
          },
          columnDefs: [
              {
                  targets: 1,
                  className: "td-indent",
              },
          ],
          columns: [
              { data: "sc_id" },
              { data: "sc_categoryid" },
              { data: "sc_name" },
              { data: "sc_createdBy" },
              { data: "sc_createdDate" },
              { data: "sc_status" },
              { data: "action" },
          ],
          initComplete: function () {
              console.log("init complete");
              // hideload();
          },
      });
      
  }
})
$("#save-button").on("click", function () {
    var name= $("#name").val();
    
    var status = "Active";
    var createdBy = "Admin"; 
    var createdDate = new Date().toISOString(); 


    $.ajax({
        url: "/category/save",
        method: "POST",
        data: {
            name: name, 
            status: status,
            createdBy: createdBy,
            createdDate: createdDate,
        },
        success: function (response) {
            if (response && response.msg === "success") {
                $("#name").val("");

                $("#staticmodal").modal("hide");
                $('#datatable').DataTable().ajax.reload();
                Swal.fire({
                    position: "top-center",
                    icon: "success",
                    title: "Data Saved successfully!",
                    showConfirmButton: true,
                    timer: 1500
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Error saving data. Please try again.',
                });
            }
        }
    });
});

$(document).on("click", ".edit-btn", function () {
    var categoryId = $(this).data("id");
    $("#categoryId").val(categoryId); 
});

$("#update-button").on("click", function () {
    var categoryId = $("#categoryId").val();
    var name = $("#nameupd").val();
    
    var status = "Active";
    var createdBy = "Admin";
    var createdDate = new Date().toISOString();

    
    Swal.fire({
        title: "Do you want to save the changes?",
        showCancelButton: true,
        confirmButtonText: "Save",
        icon: "info"
    }).then((result) => {
        if (result.isConfirmed) {
           
            $.ajax({
                url: "/category/edit",
                method: "PUT",
                data: {
                    categoryId: categoryId,
                    name: name,
                    status: status,
                    createdBy: createdBy,
                    createdDate: createdDate
                },
                success: function (response) {
                    if (response && response.msg === "success") {
                        $("#staticmodalupdate").modal("hide");
                        $('#datatable').DataTable().ajax.reload();
                        Swal.fire("Updated Successfully!", "", "success");
                    } else {
                        alert("Error updating data. Please try again.");
                    }
                },
                error: function () {
                    alert("Error updating data. Please try again.");
                }
            });
        } else if (result.isDenied) {
            Swal.fire("Changes are not saved", "", "info");
        }
    });
});
function handleDeleteButtonClick() {
    $('#datatable').on('click', '.delete-btn', function () {
        var categoryId = $(this).data('id');
        
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/category/delete/' + categoryId,
                    method: 'DELETE',
                    success: function (response) {
                        if (response && response.msg === 'success') {
                            $('#datatable').DataTable().ajax.reload();
                            Swal.fire("Deleted Successfully!", "", "success");
                        } else {
                            alert('Error deleting user. Please try again.');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error deleting user:', error);
                        alert('Error deleting user. Please try again.');
                    }
                });
            }
        });
    });
}

handleDeleteButtonClick();
    $(document).on("click", "#addbtn", function(){
        // console.log("triggered")
        $("#staticmodal").modal("show");
    })

    $(document).on("click", "#buttonclose", function(){
        // console.log("triggered")
        $("#staticmodal").modal("hide");
    })

    $(document).on("click", "#buttoncloseX", function(){
        // console.log("triggered")
        $("#staticmodal").modal("hide");
    })
    
    $(document).on("click", "#buttonclose", function(){
        // console.log("triggered")
        $("#staticmodalupdate").modal("show");
        
       
    })

    $(document).on("click", "#buttoncloseX", function(){
        // console.log("triggered")
        $("#staticmodalupdate").modal("hide");
    })

    $(document).on("click", "#addbtn", function(){
        // console.log("triggered")
        $("#staticmodal").modal("show");
    })

    $(document).on("click", "#buttonclose", function(){
        // console.log("triggered")
        $("#staticmodal").modal("hide");
    })

    $(document).on("click", "#buttoncloseX", function(){
        // console.log("triggered")
        $("#staticmodal").modal("hide");
    })
</script>