<!-- Modal -->
<div class="modal fade" id="staticmodal" data-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticmodalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header modalheader">

        <button type="button" id="buttoncloseX" class="btn-close close p-1" data-bs-dismiss="modal" aria-label="Close">
          <i class="bi bi-x-square-fill"></i>
        </button>
      </div>
      <div class="modal-body user-body">
        <div class="row">
          <div class="col-md-6 m-1 my-3">
            <select class="form-select products-control" id="categoryid" aria-label="Default select example">
              <option selected>Category ID</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>

          <div class="col m-1 my-3">
            <input type="text" class="form-control products-control" id="name" placeholder="Name">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn updatebtn">Update</button>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="card">
    <div class="card-header">
      <h3 class="content-content">
        Sub-Category
      </h3>
      <!-- Button trigger modal -->

      <div class="row justify-content-end">
        <div class="col-6">
          <input type="text" class="w-50" id="search" placeholder="Search for...">
        </div>
        <div class="col-6 pl-5 text-right">
          <button type="button" id="addbtn" class="btn addbtn" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">
            + ADD
          </button>


        </div>
      </div>
    </div>
    <div class="card-body content-card-body">

      <table class="table table-light table-striped table-hover" name="datatable" id="datatable">
        <thead class="table-content contents">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Category ID</th>
            <th scope="col">Name</th>
            <th scope="col">Created By</th>
            <th scope="col">Created Date</th>
            <th class="status-width">Status</th>
            <th>Action</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>