<!-- Modal -->
<div class="modal fade" id="staticmodal" data-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticmodalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" id="buttoncloseX" class="btn-close close p-1" data-bs-dismiss="modal" aria-label="Close">
          <i class="bi bi-x-square-fill"></i>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="row">
              <div class="col-md-4">
                <div class="col mx-1">
              <input type="text" class="form-control products-control my-3" id="firstname" placeholder="First name">
              <input type="text" class="form-control products-control my-3" id="middlename" placeholder="Middle Name">
              <input type="text" class="form-control products-control my-3" id="lastname" placeholder="Last Name">
            </div>
              </div>
              <div class="col-md-4">
                <div class="col m-1">
              <input type="text" class="form-control products-control my-3" id="contactno" placeholder="Contact No.">
              <input type="text" class="form-control products-control my-3" id="address" placeholder="Address">
              <input type="text" class="form-control products-control my-3" id="email" placeholder="Email">
            </div>
              </div>         
            <div class="col-md-4">
              <div class="col m-1">
                <input type="text" class="form-control products-control my-3" id="username" placeholder="Username">
                <input type="text" class="form-control products-control my-3" id="password" placeholder="Password">
              </div>
            </div>
          </div>
          </div>
      </div>
        
      <div class="modal-footer">
        <button type="button" class="btn updatebtn">Update</button>
      </div>
    </div>
    </div>
  </div>


<div class="card">
  <div class="card-header">
    <h3 class="content-content">
      Customer
    </h3>
    <!-- Button trigger modal -->

    <div class="row justify-content-end">
      <div class="col-6">
        <input type="text" class="w-50" id="search" placeholder="&#xF52A; Search for...">
      </div>
      <div class="col-6 pl-5 text-right">
        <button type="button" id="addbtn" class="btn addbtn" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop">
          + ADD
        </button>


      </div>
    </div>
  </div>
  <div class="card-body content-card-body">

    <table class="table table-light table-striped table-hover">
      <thead class="table-content contents">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Middle Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Contact No.</th>
          <th scope="col">Address</th>
          <th scope="col">Email</th>
          <th scope="col">Username</th>
          <th scope="col">Password</th>
          <th scope="col">Status</th>
          <th scope="col">Created By</th>
          <th scope="col">Created Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="ID">1</td>
          <td data-label="First Name">Mark</td>
          <td data-label="Middle Name">Otto</td>
          <td data-label="Last name">@mdo</td>
          <td data-label="Contact No.">Otto</td>
          <td data-label="Address">Otto</td>
          <td data-label="Email">@mdo</td>
          <td data-label="Username">Otto</td>
          <td data-label="Password">Otto</td>
          <td data-label="Status">Otto</td>
          <td data-label="Created By">@mdo</td>
          <td data-label="Created Date">Otto</td>
        </tr>
        <tr>
          <td data-label="ID">1</td>
          <td data-label="First Name">Mark</td>
          <td data-label="Middle Name">Otto</td>
          <td data-label="Last name">@mdo</td>
          <td data-label="Contact No.">Otto</td>
          <td data-label="Address">Otto</td>
          <td data-label="Email">@mdo</td>
          <td data-label="Username">Otto</td>
          <td data-label="Password">Otto</td>
          <td data-label="Status">Otto</td>
          <td data-label="Created By">@mdo</td>
          <td data-label="Created Date">Otto</td>
        </tr>
        <tr>
          <td data-label="ID">1</td>
          <td data-label="First Name">Mark</td>
          <td data-label="Middle Name">Otto</td>
          <td data-label="Last name">@mdo</td>
          <td data-label="Contact No.">Otto</td>
          <td data-label="Address">Otto</td>
          <td data-label="Email">@mdo</td>
          <td data-label="Username">Otto</td>
          <td data-label="Password">Otto</td>
          <td data-label="Status">Otto</td>
          <td data-label="Created By">@mdo</td>
          <td data-label="Created Date">Otto</td>
        </tr>
        <tr>
          <td data-label="ID">1</td>
          <td data-label="First Name">Mark</td>
          <td data-label="Middle Name">Otto</td>
          <td data-label="Last name">@mdo</td>
          <td data-label="Contact No.">Otto</td>
          <td data-label="Address">Otto</td>
          <td data-label="Email">@mdo</td>
          <td data-label="Username">Otto</td>
          <td data-label="Password">Otto</td>
          <td data-label="Status">Otto</td>
          <td data-label="Created By">@mdo</td>
          <td data-label="Created Date">Otto</td>
        <tr>
          <td data-label="ID">1</td>
          <td data-label="First Name">Mark</td>
          <td data-label="Middle Name">Otto</td>
          <td data-label="Last Name">@mdo</td>
          <td data-label="Contact No.">Otto</td>
          <td data-label="Address">Otto</td>
          <td data-label="Email">@mdo</td>
          <td data-label="Username">Otto</td>
          <td data-label="Password">Otto</td>
          <td data-label="Status">Otto</td>
          <td data-label="Created By">@mdo</td>
          <td data-label="Created Date">Otto</td> 
        </tr>
      </tbody>
    </table>
  </div>