<!-- Modal -->
<div class="modal fade" id="staticmodal" data-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticmodalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" id="buttoncloseX" class="btn-close close p-1" data-bs-dismiss="modal" aria-label="Close">
          <i class="bi bi-x-square-fill"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="row">
            <div class="col-md-6">
              <div class="col m-1 my-3">
                <select class="form-select products-control mb-3" aria-label="Default select example" id="categoryid">
                  <option selected>Category Id</option>
                  <option value="002-423">002-423</option>
                  <option value="002-422">002-422</option>
                  <option value="002-421">002-421</option>
                </select>
                <select class="form-select products-control mb-3" aria-label="Default select example" id="subcategoryid">
                  <option selected>Sub-Category Id</option>
                  <option value="2-251">2-251</option>
                  <option value="2-253">2-253</option>
                  <option value="2-252">2-252</option>
                </select>              
                <select class="form-select products-control mb-3" aria-label="Default select example" id="userid">
                  <option selected>User Id</option>
                  <option value="01132">01132</option>
                  <option value="01134">01133</option>
                  <option value="01134">01134</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="col m-1 my-3">
                <textarea class="form-control products-control" placeholder="Description" id="description"
                  style="height: 133px"></textarea>
              </div>
            </div>
          </div>
        </div>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn updatebtn" name="save-button" id="save-button">Save</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="staticmodalupdate" data-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticmodalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" id="buttoncloseX" class="btn-close close p-1" data-bs-dismiss="modal" aria-label="Close">
          <i class="bi bi-x-square-fill"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="row">
            <div class="col-md-6">
              <div class="col m-1 my-3">
                <select class="form-select products-control mb-3" aria-label="Default select example" id="categoryidupd">
                  <option selected>Category Id</option>
                  <option value="002-423">002-423</option>
                  <option value="002-422">002-422</option>
                  <option value="002-421">002-421</option>
                </select>
                <select class="form-select products-control mb-3" aria-label="Default select example" id="subcategoryidupd">
                  <option selected>Sub-Category Id</option>
                  <option value="2-251">2-251</option>
                  <option value="2-253">2-253</option>
                  <option value="2-252">2-252</option>
                </select>              
                <select class="form-select products-control mb-3" aria-label="Default select example" id="useridupd">
                  <option selected>User Id</option>
                  <option value="01132">01132</option>
                  <option value="01134">01133</option>
                  <option value="01134">01134</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="col m-1 my-3">
                <textarea class="form-control products-control" placeholder="Description" id="descriptionupd"
                  style="height: 133px"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn updatebtn" name="update-button" id="update-button">Update</button>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h3 class="content-content">
      Content
    </h3>
    <!-- Button trigger modal -->

    <div class="row">
      <div class="col-6">
        <input type="text" class="w-50" id="searchtable" placeholder="Search for...">
    </div>
      <div class="col-6 pl-5 text-right">
        <button type="button" id="addbtn" class="btn addbtn" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop">
          + ADD
        </button>
      </div>
    </div>
  </div>

  <div class="card-body content-card-body">

    <table class="table table-light table-hover"  id="datatable"name="datatable">
      <thead class="table-content contents">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Category ID</th>
          <th scope="col">Sub-Category ID</th>
          <th scope="col">User ID</th>
          <th scope="col">Content</th>
          <th scope="col">Created By</th>
          <th scope="col">Created Date</th>
          <th class="status-width">Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>