<!-- Modal -->
<div class="modal fade" id="staticmodal" data-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticmodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" id="buttoncloseX" class="btn-close close p-1" data-bs-dismiss="modal" aria-label="Close">
          <i class="bi bi-x-square-fill"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <select class="form-select products-control" id="panelid" aria-label="Default select example">
              <option selected>Order ID</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>          
          </div>
        </div>
      </div> 
      <div class="modal-footer">
        <button type="button" class="btn updatebtn">Update</button>
      </div>
    </div>
  </div>
</div>

<div class="card">
    <div class="card-header">
      <h3 class="content-content">
        Order History
      </h3>
      <!-- Button trigger modal -->
  
      <div class="row justify-content-end">
        <div class="col-6">
          <input type="text" class="w-50" id="search" placeholder="Search for...">
        </div>
        <div class="col-6 pl-5 text-right">
          <button type="button" id="addbtn" class="btn addbtn" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">
            + ADD
          </button>
  
  
        </div>
      </div>
    </div>
<div class="card-body content-card-body">

    <table class="table table-light table-striped table-hover">
      <thead class="table-content contents">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Order ID</th>
          <th scope="col">Status</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="ID">1</td>
          <td data-label="Order ID">Mark</td>
          <td data-label="Status">Otto</td>
          <td data-label="Date">Otto</td>
        </tr>
        <tr>
          <td data-label="ID">1</td>
          <td data-label="Order ID">Mark</td>
          <td data-label="Status">Otto</td>
          <td data-label="Date">Otto</td>
        </tr>
        <tr>
          <td data-label="ID">1</td>
          <td data-label="Order ID">Mark</td>
          <td data-label="Status">Otto</td>
          <td data-label="Date">Otto</td>
        </tr>
        <tr>
          <td data-label="ID">1</td>
          <td data-label="Order ID">Mark</td>
          <td data-label="Status">Otto</td>
          <td data-label="Date">Otto</td>
        </tr>
        <tr>
          <td data-label="ID">1</td>
          <td data-label="Order ID">Mark</td>
          <td data-label="Status">Otto</td>
          <td data-label="Date">Otto</td>
        </tr>
      </tbody>
    </table>
  </div>