<script>
    $(document).ready(function () {
        handleDeleteButtonClick();
        LoadTable();
        let categoryId = '';


    $("#search").on("input", function () {
        filterTableRows("#datatable", 9, "#search");
    });

    function searchAndSortTable(searchText) {
        var table = $('#datatable').DataTable();
        var found = false;
        table.rows().every(function (index) {
            var row = this.data();
            var name = row.c_name.toLowerCase();
            var id = row.c_id && row.c_id.toString().toLowerCase(); 
            var status = row.c_status.toLowerCase();
            
            if (name.includes(searchText) || (id && id.includes(searchText)) || status.includes(searchText)) {
                found = true;
                // Remove matched row if it exists
                var rowNode = this.node();
                if (rowNode && rowNode.parentNode) {
                    rowNode.parentNode.removeChild(rowNode);
                    // Re-insert row at the top
                    var newRowNode = table.row.add(row).node();
                    $(newRowNode).prependTo(table.table().body()).show(); // Show the row at the top
                }
            }
        });
        // If no match found, reset the table order
        if (!found || searchText === "") {
        table.order([0, 'asc']).draw();
    }
    }

        $("#datatable").on('click', '.status-btn', function () {
        var categoryId = $(this).data('id');
        var currentStatus = $(this).data('new-status');
        var newStatus = currentStatus === "Active" ? "Inactive" : "Active";

        // Update the button data and icon
        $(this).data('new-status', newStatus);
        var icon = newStatus === "Active" ? "fas fa-eye" : "far fa-eye-slash";
        $(this).find('i').removeClass().addClass(icon);

        // Update the status cell in the table
        var statusCell = $(this).closest('tr').find('td:eq(4) span');
        statusCell.text(newStatus);
        statusCell.removeClass("active-status inactive-status");
        if (newStatus === "Active") {
            statusCell.addClass("active-status");
        } else {
            statusCell.addClass("inactive-status");
        }

        // Update the database with the new status
        updateCategoryStatus(categoryId, newStatus);
    });

        $("#datatable").on('click', 'tr', function () {
            var dataRow = [];
            $(this).closest('tr').find('td').each(function () {
                dataRow.push($(this).text());
            });
            // console.log(dataRow)
            // categoryId = dataRow[0];

            // console.log("categoryID:", categoryId)
        });
function LoadTable() {
            // console.log("Hit");
            $("#datatable").DataTable({
                destroy: true,
                processing: true,
                serverSide: true,
                paging: false,
                searching: false,
                info: false,
                scrollY: 400,
                scrollCollapse: true,
                serverMethod: "GET",
                ajax: {
                    url: "/category/load",
                    dataSrc: (json) => {
                        var finalData = [];
                        var data = json.data;
                        // console.log(data);
                        $.each(data, (key, item) => {
                           
                         var statusClass = item.c_status === "Active" ? "active-status" : "inactive-status"; 
                         finalData.push({
                          c_id: item.c_id,
                          c_name: item.c_name,
                          c_createdBy: item.c_createdBy,
                          c_createdDate: new Date(item.c_createdDate).toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' }).replace(/\//g, '-'),
                          c_status: `<span class="${statusClass}">${item.c_status}</span>`,
                          action: `
                              <button class="edit-btn" data-id="${item.c_id}" data-toggle="modal" data-target="#staticmodalupdate">
                                  <i class="fas fa-edit"></i>
                              </button>
                              <button class="delete-btn" data-id="${item.c_id}">
                                  <i class="fas fa-trash-alt"></i> 
                              </button>
                              <button class="status-btn" data-id="${item.c_id}" data-new-status="${item.c_status === 'Active' ? 'Inactive' : 'Active'}">
                                    <i class="${item.c_status === 'Active' ? 'fas fa-eye' : 'far fa-eye-slash'}"></i>
                                </button>


                          `,
                      });
                        });
                        return finalData;
                    },
                },
                columnDefs: [
                    {
                        targets: 1,
                        className: "td-indent",
                    },
                ],
                columns: [
                    { data: "c_id" },
                    { data: "c_name" },
                    { data: "c_createdBy" },
                    { data: "c_createdDate" },
                    { data: "c_status" },
                    { data: "action" },
                ],
                initComplete: function () {
                    // console.log("init complete");
                    // hideload();
                },
            });

        }
    })
    $("#save-button").on("click", function () {
    let c_name = $("#name").val();
    let c_status = "Active";
    let c_createdBy = "Admin";
    let c_createdDate = new Date().toISOString();

  
    var table = $('#datatable').DataTable();
    var names = table.column(1).data().toArray(); 
    if (names.includes(c_name)) {
       
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'Name already exists.',
        });
        return; 
    }

   
    $.ajax({
        url: "/category/save",
        method: "POST",
        data: {
            c_name: c_name,
            c_status: c_status,
            c_createdBy: c_createdBy,
            c_createdDate: c_createdDate,
        },
        success: function (response) {
            if (response && response.msg === "success") {
                $("#c_name").val("");
                $("#staticmodal").modal("hide");
                $('#datatable').DataTable().ajax.reload();
                Swal.fire({
                    position: "top-center",
                    icon: "success",
                    title: "Data saved successfully!",
                    showConfirmButton: true,
                    timer: 1500
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Error saving data. Please try again.',
                });
            }
        }
    });
});
function updateCategoryStatus(categoryId, newStatus) {
    $.ajax({
        url: `/category/editstatus/${categoryId}/status`,
        method: 'PUT',
        contentType: 'application/json',
        data: JSON.stringify({ NewStatus: newStatus }),
        success: function(response) {
            if (response.message === "Category status updated successfully") {
                console.log("Okay na pre!!");
            } else {
                console.error("Failed to update status");
            }
        },
        error: function(xhr, status, error) {
            console.error("Error updating status:", error);
        }
    });
}

// $("#save-button").on("click", function () {
//         let c_name = $("#name").val();
//         let c_status = "Active";
//         let c_createdBy = "Admin";
//         let c_createdDate = new Date().toISOString();


//         $.ajax({
//             url: "/category/save",
//             method: "POST",
//             data: {
//                 c_name: c_name,
//                 c_status: c_status,
//                 c_createdBy: c_createdBy,
//                 c_createdDate: c_createdDate,
//             },
//             success: function (response) {
//                 if (response && response.msg === "success") {
//                     $("#c_name").val("");
//                     $("#staticmodal").modal("hide");
//                     $('#datatable').DataTable().ajax.reload();
//                     Swal.fire({
//                             position: "top-center",
//                             icon: "success",
//                             title: "Data saved successfully!",
//                             showConfirmButton: true,
//                             timer: 1500
//                             });
//         } else {
//                     Swal.fire({
//                         icon: 'error',
//                         title: 'Error',
//                         text: 'Error saving data. Please try again.',
//                     });
//                 }
//             }
//         });
//     });
         $(document).on("click", ".edit-btn", function () {
            categoryId = $(this).data("id"); 
            $("#categoryId").val(categoryId);
        });

        $("#update-button").on("click", function () {
            let c_categoryId = $("#categoryId").val();
            let c_name = $("#nameupd").val();
            let c_status = "Active";
            let c_createdBy = "Admin";
            let c_createdDate = new Date().toISOString();

            var table = $('#datatable').DataTable();
            var names = table.column(1).data().toArray(); 
            if (names.includes(c_name)) {
            
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Name already exists.',
                });
                return; 
            }

            Swal.fire({
                title: "Do you want to save the changes?",
                showCancelButton: true,
                confirmButtonText: "Save",
                icon: "info"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "/category/edit",
                        method: "PUT",
                        data: {
                            categoryId: categoryId, 
                            c_name: c_name,
                            c_status: c_status,
                            c_createdBy: c_createdBy,
                            c_createdDate: c_createdDate
                        },
                        success: function (response) {
                            if (response && response.msg === "success") {
                                $("#staticmodalupdate").modal("hide");
                                $('#datatable').DataTable().ajax.reload();
                                Swal.fire("Updated Successfully!", "", "success");
                            } else {
                                alert("Error updating data. Please try again.");
                            }
                        },
                        error: function () {
                            alert("Error updating data. Please try again.");
                        }
                    });
                } else if (result.isDenied) {
                    Swal.fire("Changes are not saved", "", "info");
                }
            });
        });


function handleDeleteButtonClick() {
        $('#datatable').on('click', '.delete-btn', function () {
            var categoryId = $(this).data('id');
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/category/delete/' + categoryId,
                        method: 'DELETE',
                        success: function (response) {
                            if (response && response.msg === 'success') {
                                $('#datatable').DataTable().ajax.reload();
                                Swal.fire("Deleted Successfully!", "", "success");
                            } else {
                                alert('Error deleting user. Please try again.');
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error('Error deleting user:', error);
                            alert('Error deleting user. Please try again.');
                        }
                    });
                }
            });
        });
    }
    $('.status-btn').on('click', function() {
                const categoryId = $(this).data('id');
                const newStatus = $(this).data('new-status');
                updateCategoryStatus(categoryId, newStatus);
            });
    $(document).on("click", "#addbtn", function () {
         console.log("triggered")
        $("#staticmodal").modal("show");
    })

    $(document).on("click", "#buttonclose", function () {
        // console.log("triggered")
        $("#staticmodal").modal("hide");
    })

    $(document).on("click", "#buttoncloseX", function () {
        // console.log("triggered")
        $("#staticmodal").modal("hide");
    })

    $(document).on("click", "#buttonclose", function () {
        // console.log("triggered")
        $("#staticmodalupdate").modal("show");

    })

    $(document).on("click", "#buttoncloseX", function () {
        // console.log("triggered")
        $("#staticmodalupdate").modal("hide");
    })  
</script>