
<!-- Modal -->
<div class="modal fade" id="staticmodal" data-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticmodalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header modalheader">
        <button type="button" id="buttoncloseX" class="btn-close close p-1" data-bs-dismiss="modal" aria-label="Close">
          <i class="bi bi-x-square-fill"></i>
        </button>
      </div>
      <div class="modal-body user-body">
        <div class="row">
          <div class="col-md-6 mb-2">
            <input type="text" class="form-control products-control" id="fullname" name="fullname"placeholder="Fullname">
            <input type="hidden" id=fullname">
            <input type="text" class="form-control products-control mt-3" id="username"  name="username" placeholder="Username">
          </div>
          <div class="col-md-6">
            <input type="password" class="form-control products-control" id="password" name="password" placeholder="Password">
            <select class="form-select products-control  mt-3" aria-label="Default select example" id="accesstype" name="accesstype">
              <option selected>Access Type</option>
              <option value="10003">1</option>
              <option value="20003">2</option>
              <option value="30003">3</option>
            </select>
          </div>
        </div>
    </div>
    
      <div class="modal-footer">
        <button type="button" class="btn updatebtn" name='save-button' id="save-button">Save</button>
      </div>
    </div>
  </div>
</div> 
<div class="modal fade" id="staticmodalupdate" data-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticmodalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header modalheader">
        <button type="button" id="buttoncloseX" class="btn-close close p-1" data-bs-dismiss="modal" aria-label="Close">
          <i class="bi bi-x-square-fill"></i>
        </button>
      </div>
      <div class="modal-body user-body">
        <div class="row">
          <div class="col-md-6 mb-2">
            <input type="text" class="form-control products-control" id="fullnameupd" name="fullname"placeholder="Fullname">
            
            <input type="text" class="form-control products-control mt-3" id="usernameupd"  name="username" placeholder="Username">
          </div>
          <div class="col-md-6">
            <input type="password" class="form-control products-control" id="passwordupd" name="password" placeholder="Password">
            <select class="form-select products-control  mt-3" aria-label="Default select example" id="accesstypeupd" name="accesstype">
              <option selected>Access Type</option>
              <option value="10003">1</option>
              <option value="20003">2</option>
              <option value="30003">3</option>
            </select>
          </div>
        </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn updatebtn" name='update-button' id="update-button">Update</button>
      </div>
    </div>
  </div>
</div> 
<div class="card">
  <div class="card-header">
    <h3 class="content-content">User</h3>
    <div class="row justify-content-end">
      <div class="col-6">
        <input type="text" class="w-50" id="search" placeholder="Search for...">
      </div>
      <div class="col-6 pl-5 text-right">
        <button type="button" id="addbtn" class="btn addbtn" data-bs-toggle="modal" data-bs-target="#staticmodal">
          + ADD
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-light table-striped table-hover" id="datatable" name="datatable">
      <thead class="table-content contents">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Fullname</th>
          <th scope="col">Username</th>
          <th scope="col">Password</th>
          <th scope="col">Access Type</th>
          <th scope="col">Status</th>
          <th scope="col">Created By</th>
          <th scope="col">Created Date</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
       
      </tbody>   
    </table>
  </div>
</div>      
